.match {
  display: flex;
  flex-direction: column;
}

.teams {
  display: flex;
  flex-direction: row;
}

.team {
  background-color: transparent;
  margin: 0.25em;
  border: 2px solid blue;
  border-radius: 5px;
}
.team:hover {
  background-color: rgb(202, 202, 202);
}

.winner {
  background-color: rgb(202, 202, 202);
}
