.search {
  display: flex;
  // background-image: url("../styles/images/polo-image-1.png");
  background-size: cover;
  backdrop-filter: blur(20px);
  // border: 2px solid blue;
  flex-direction: column;
  align-items: center;
  padding-top: 10em;
  padding-bottom: 10em;
  .search-bar {
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    text-align: center;
    margin: 1em;
    outline: none;
  }
  .search-button {
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 0.3em;
    background-color: transparent;
  }
}

.organize {
  display: flex;
  border: 2px solid purple;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}

.upcoming-tournaments {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}
