.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: rgb(136, 123, 50);
  color: whitesmoke;
  text-size-adjust: 30px;
  height: 3em;
  .sidebar {
    border: 2px solid blue;
    display: flex;
    width: 10em;
  }
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
  margin: 0.25em;
  padding: 0.25em;
  color: white;
}

.menu button {
  color: whitesmoke;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.submenu {
  display: none;
  position: absolute;
  padding: 10px;
  z-index: 5;
  background-color: white;
}
.menu button:focus + .submenu,
.submenu:hover {
  display: block;
  z-index: 10;
}
