.tournament-card {
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  padding: 1em;
  margin: 1em;
  transition: 0.5s;
  text-decoration: none;
  color: black;
}

.tournament-card:hover {
  transform: scale(1.05);
}
