.tournament-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tournament-page-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teams {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid orange;
}

.groups {
  display: flex;
  flex-direction: row;
  border: 2px solid red;
}

.team {
  display: flex;
  flex-direction: row;
  border: 2px solid green;
}
